.PopupWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.PopupWindow__content {
    position: relative;
    width: 77%;
    padding: 30px;
    background-color: white;

    display: grid;
    grid-template-areas:
        "pic comments"
        "form comments";
    grid-template-columns: 60% 1fr;
    gap: 15px;
}

.PopupWindow__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.PopupWindow__pic {
    background-color: #f1f1f1;
    display: block;
    width: 100%;
    /* 0.462 = 77% * 60% (ширина модального окна и ширина первого столбца грида) */
    height: calc(100vw * 0.462 / 1.5);
    grid-area: pic;
}

.PopupWindow__CommentList {
    grid-area: comments;
    max-height: calc(145px + (100vw * 0.462 / 1.5));
    overflow-y: scroll;
}

.PopupWindow__CommentForm {
    grid-area: form;
}

@media only screen and (max-width: 425px) {
    .PopupWindow__content {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .PopupWindow__CommentForm {
        position: fixed;
        width: calc(100% - 40px);
        bottom: 0;
        left: 20px;
        padding-bottom: 40px;
        background-color: #fff;
    }
    .PopupWindow__CommentList {
        max-height: calc(100vh - (100vw / 1.5) - 195px - 10px);
        margin-top: 15px;
        padding: 10px 20px 0 20px;
    }
    .PopupWindow__pic {
        height: calc(100vw / 1.5);
    }
}