.Comment {
    margin-top: 20px;
}

.Comment:first-of-type {
    margin-top: 0;
}

.Comment__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #999999;

    margin-bottom: 5px;
}

.Comment__content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
}